n8n-backend/workflows/workflow-resetear-contrasena-correo.json
{
  "name": "App Matrícula - Resetear Contraseña de Correo Institucional (automático)",
  "nodes": [
    {
      "parameters": {
        "content": "## Reseteo AUTOMÁTICO de contraseña de correo institucional\nReemplaza el diseño anterior (ticket manual vía crear-ticket-solicitud con\ntipoTramite RESET_CORREO) — ver PROPUESTA-RESET-CORREO-AUTOMATICO.md para\nel detalle completo de esta decisión.\n\n- SIN ticket, SIN aprobación humana. Si el reseteo real contra Google\n  Workspace falla, responde 502 y listo — no crea nada, el estudiante\n  reintenta desde el chat.\n- Prueba de que el estudiante ya pasó por OTP: se reutiliza\n  otp_codigos.usado=true reciente (últimos 20 min), NO se inventa una\n  tabla de sesiones nueva (ver nodo 'Verificar Sesión Validada').\n- Cooldown anti-abuso: no se permite otro reseteo exitoso dentro de los\n  15 min siguientes al último (se mide contra el evento\n  'ResetCorreoEjecutado' en la tabla eventos, no hace falta tabla nueva).\n- La contraseña nueva NUNCA se devuelve en la respuesta HTTP ni se guarda\n  en eventos/auditoría — solo se envía por correo institucional.\n- Nodo 'Resetear en Google Workspace (Admin SDK)': requiere una credencial\n  de Service Account de Google Cloud con Domain-Wide Delegation habilitada\n  y el scope admin.directory.user, IMPERSONANDO a un admin real del\n  dominio (el Admin SDK no acepta llamadas de un service account puro sin\n  delegación — hay que configurar el 'subject' de la delegación). Placeholder\n  REEMPLAZAR hasta que TI del instituto genere esa credencial con el\n  privilegio mínimo (rol acotado 'Reset user passwords', no Super Admin).\n- onError=continueRegularOutput en el nodo de Google: si falla (credencial\n  no configurada, rate limit, etc.) cae a la rama de error 502 en vez de\n  tumbar la ejecución completa.",
        "height": 520,
        "width": 460
      },
      "id": "e1111111-1111-4111-8111-111111111111",
      "name": "Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-320, -320]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resetear-contrasena-correo",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "e2222222-2222-4222-8222-222222222222",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 0],
      "webhookId": "resetear-contrasena-correo",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credencial Header Auth (X-Api-Key)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "resetear-contrasena-correo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e2222222-2222-4222-8222-222222222223",
      "name": "Webhook (OPTIONS)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 500],
      "webhookId": "resetear-contrasena-correo-options"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 204,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, X-Api-Key" }
            ]
          }
        }
      },
      "id": "e2222222-2222-4222-8222-222222222224",
      "name": "Responder: CORS preflight",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "SELECT id AS estudiante_id, cedula, nombres, correo AS \"correoInstitucional\" FROM estudiantes WHERE cedula = $1",
        "options": {
          "queryReplacement": "={{ [ $json.body.cedula ] }}"
        }
      },
      "id": "e3333333-3333-4333-8333-333333333333",
      "name": "Buscar Estudiante (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 0],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "REEMPLAZAR con credenciales reales" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.estudiante_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e4444444-4444-4444-8444-444444444444",
      "name": "¿Existe el estudiante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "SELECT 1 AS ok FROM otp_codigos WHERE cedula = $1 AND usado = true AND creado_en > NOW() - INTERVAL '20 minutes' ORDER BY creado_en DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $('Webhook').item.json.body.cedula ] }}"
        }
      },
      "id": "e5555555-5555-4555-8555-555555555555",
      "name": "Verificar Sesión Validada (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [980, -180],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "REEMPLAZAR con credenciales reales" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": { "type": "number", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6666666-6666-4666-8666-666666666666",
      "name": "¿Tiene sesión válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1240, -180]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "SELECT 1 AS ok FROM eventos WHERE tipo = 'ResetCorreoEjecutado' AND payload->>'cedula' = $1 AND payload->>'resultado' = 'EXITO' AND creado_en > NOW() - INTERVAL '15 minutes' LIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $('Webhook').item.json.body.cedula ] }}"
        }
      },
      "id": "e7777777-7777-4777-8777-777777777777",
      "name": "Verificar Cooldown (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1500, -180],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "REEMPLAZAR con credenciales reales" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": { "type": "number", "operation": "empty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e8888888-8888-4888-8888-888888888888",
      "name": "¿Puede resetear ahora?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -180]
    },
    {
      "parameters": {
        "jsCode": "// Contraseña temporal segura: 14 caracteres, mayúsculas + minúsculas + dígitos + símbolo,\n// generada del lado del servidor (nunca la manda el cliente).\nconst MAYUS = 'ABCDEFGHJKLMNPQRSTUVWXYZ';\nconst MINUS = 'abcdefghijkmnpqrstuvwxyz';\nconst DIGITOS = '23456789';\nconst SIMBOLOS = '!@#$%&*';\nconst TODOS = MAYUS + MINUS + DIGITOS + SIMBOLOS;\n\nfunction aleatorio(alfabeto) {\n  return alfabeto[Math.floor(Math.random() * alfabeto.length)];\n}\n\nlet clave = aleatorio(MAYUS) + aleatorio(MINUS) + aleatorio(DIGITOS) + aleatorio(SIMBOLOS);\nfor (let i = clave.length; i < 14; i++) {\n  clave += aleatorio(TODOS);\n}\n// Mezclar para que los 4 primeros caracteres \"garantizados\" no queden siempre al inicio.\nclave = clave.split('').sort(() => Math.random() - 0.5).join('');\n\nreturn [{ json: { passwordTemporal: clave } }];"
      },
      "id": "e9999999-9999-4999-8999-999999999999",
      "name": "Generar Contraseña Temporal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, -180]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://admin.googleapis.com/admin/directory/v1/users/{{ encodeURIComponent($('Buscar Estudiante (Postgres)').item.json.correoInstitucional) }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"password\": $json.passwordTemporal, \"changePasswordAtNextLogin\": true } }}",
        "options": {}
      },
      "id": "eaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "Resetear en Google Workspace (Admin SDK)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "position": [2280, -180],
      "notes": "REEMPLAZAR: credencial de Service Account de Google Cloud con Domain-Wide Delegation + scope https://www.googleapis.com/auth/admin.directory.user, impersonando a un admin real del dominio (subject de la delegación). Rol recomendado del lado de Google Workspace: uno personalizado con el privilegio mínimo 'Reset user passwords', NO Super Admin. onError=continueRegularOutput: si falla, cae a la rama de error 502 sin tumbar la ejecución.",
      "credentials": {
        "googleApi": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con Service Account de Google Workspace (Domain-Wide Delegation)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ebbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "¿Reseteo exitoso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2540, -180]
    },
    {
      "parameters": {
        "jsCode": "const estudiante = $('Buscar Estudiante (Postgres)').item.json;\nconst payload = JSON.stringify({\n  cedula: estudiante.cedula,\n  correoInstitucional: estudiante.correoInstitucional,\n  resultado: 'EXITO',\n  proveedor: 'google_workspace'\n});\n\nreturn [{ json: { payload } }];"
      },
      "id": "ecccccc1-cccc-4ccc-8ccc-ccccccccccc1",
      "name": "Preparar Auditoría",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2800, -280]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "INSERT INTO eventos (tipo, payload, origen) VALUES ('ResetCorreoEjecutado', $1::jsonb, 'chatbot')",
        "options": {
          "queryReplacement": "={{ [ $json.payload ] }}"
        }
      },
      "id": "ecccccc2-cccc-4ccc-8ccc-ccccccccccc2",
      "name": "Registrar Auditoría (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3060, -280],
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "REEMPLAZAR con credenciales reales" }
      }
    },
    {
      "parameters": {
        "fromEmail": "no-reply@yavirac.edu.ec",
        "toEmail": "={{ $('Buscar Estudiante (Postgres)').item.json.correoInstitucional }}",
        "subject": "Tu contraseña de correo institucional fue reseteada",
        "emailFormat": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <div style=\"text-align: center; margin-bottom: 24px;\">\n    <h2 style=\"color: #1a237e; margin-top: 12px;\">Instituto Superior Tecnológico<br>de Turismo y Patrimonio \"YAVIRAC\"</h2>\n  </div>\n\n  <p>Estimado/a {{ $('Buscar Estudiante (Postgres)').item.json.nombres }},</p>\n\n  <p>Tu contraseña de correo institucional fue reseteada exitosamente desde YaviBot. Esta es tu nueva contraseña temporal:</p>\n\n  <div style=\"background: #f5f5f5; border-left: 4px solid #1a237e; padding: 16px; margin: 20px 0; border-radius: 4px; text-align: center;\">\n    <code style=\"font-size: 18px; font-weight: bold;\">{{ $('Generar Contraseña Temporal').item.json.passwordTemporal }}</code>\n  </div>\n\n  <p>Se te pedirá cambiarla la próxima vez que inicies sesión. Si tú no solicitaste este reseteo, contacta de inmediato a Soporte Técnico.</p>\n\n  <hr style=\"border: none; border-top: 1px solid #ddd; margin: 24px 0;\" />\n\n  <p style=\"color: #666; font-size: 12px; text-align: center;\">\n    Este correo fue generado automáticamente por el sistema YaviBot.<br>\n    Instituto Superior Tecnológico de Turismo y Patrimonio \"YAVIRAC\" | www.yavirac.edu.ec\n  </p>\n</div>",
        "options": {}
      },
      "id": "ecccccc3-cccc-4ccc-8ccc-ccccccccccc3",
      "name": "Enviar Nueva Contraseña (Correo)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "onError": "continueRegularOutput",
      "position": [2800, -80],
      "notes": "CONFIGURAR: credenciales SMTP. Este correo es la ÚNICA forma en que la contraseña nueva sale del sistema — nunca en la respuesta HTTP ni en logs/auditoría.",
      "credentials": {
        "smtp": { "id": "REEMPLAZAR", "name": "REEMPLAZAR con credenciales SMTP (Mailtrap en pruebas)" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"estado\": \"RESETEADO\", \"correoNotificado\": $('Buscar Estudiante (Postgres)').item.json.correoInstitucional, \"mensaje\": \"Tu contraseña fue reseteada. Revisa tu correo institucional para ver la nueva contraseña temporal.\" } }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "ecccccc4-cccc-4ccc-8ccc-ccccccccccc4",
      "name": "Responder: Reseteo exitoso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3320, -180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Estudiante no encontrado.\" } }}",
        "options": {
          "responseCode": 404,
          "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] }
        }
      },
      "id": "eddddddd-dddd-4ddd-8ddd-ddddddddddd1",
      "name": "Responder: No encontrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Debes verificar tu identidad nuevamente antes de continuar.\" } }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] }
        }
      },
      "id": "eddddddd-dddd-4ddd-8ddd-ddddddddddd2",
      "name": "Responder: Sin sesión válida",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Ya reseteaste tu contraseña recientemente. Intenta de nuevo en unos minutos.\" } }}",
        "options": {
          "responseCode": 429,
          "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] }
        }
      },
      "id": "eddddddd-dddd-4ddd-8ddd-ddddddddddd3",
      "name": "Responder: Cooldown activo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2020, 160]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"No se pudo completar el reseteo en este momento. Intenta más tarde.\" } }}",
        "options": {
          "responseCode": 502,
          "responseHeaders": { "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }] }
        }
      },
      "id": "eddddddd-dddd-4ddd-8ddd-ddddddddddd4",
      "name": "Responder: Proveedor falló",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2800, 60]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Buscar Estudiante (Postgres)", "type": "main", "index": 0 }]]
    },
    "Webhook (OPTIONS)": {
      "main": [[{ "node": "Responder: CORS preflight", "type": "main", "index": 0 }]]
    },
    "Buscar Estudiante (Postgres)": {
      "main": [[{ "node": "¿Existe el estudiante?", "type": "main", "index": 0 }]]
    },
    "¿Existe el estudiante?": {
      "main": [
        [{ "node": "Verificar Sesión Validada (Postgres)", "type": "main", "index": 0 }],
        [{ "node": "Responder: No encontrado", "type": "main", "index": 0 }]
      ]
    },
    "Verificar Sesión Validada (Postgres)": {
      "main": [[{ "node": "¿Tiene sesión válida?", "type": "main", "index": 0 }]]
    },
    "¿Tiene sesión válida?": {
      "main": [
        [{ "node": "Verificar Cooldown (Postgres)", "type": "main", "index": 0 }],
        [{ "node": "Responder: Sin sesión válida", "type": "main", "index": 0 }]
      ]
    },
    "Verificar Cooldown (Postgres)": {
      "main": [[{ "node": "¿Puede resetear ahora?", "type": "main", "index": 0 }]]
    },
    "¿Puede resetear ahora?": {
      "main": [
        [{ "node": "Generar Contraseña Temporal", "type": "main", "index": 0 }],
        [{ "node": "Responder: Cooldown activo", "type": "main", "index": 0 }]
      ]
    },
    "Generar Contraseña Temporal": {
      "main": [[{ "node": "Resetear en Google Workspace (Admin SDK)", "type": "main", "index": 0 }]]
    },
    "Resetear en Google Workspace (Admin SDK)": {
      "main": [[{ "node": "¿Reseteo exitoso?", "type": "main", "index": 0 }]]
    },
    "¿Reseteo exitoso?": {
      "main": [
        [
          { "node": "Preparar Auditoría", "type": "main", "index": 0 },
          { "node": "Enviar Nueva Contraseña (Correo)", "type": "main", "index": 0 },
          { "node": "Responder: Reseteo exitoso", "type": "main", "index": 0 }
        ],
        [{ "node": "Responder: Proveedor falló", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Auditoría": {
      "main": [[{ "node": "Registrar Auditoría (Postgres)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "active": true
}
