n8n-backend/workflows/workflow-detectar-respuesta-ticket.json
{
  "name": "App Matrícula - Detectar Respuesta de Ticket (Gmail, automático)",
  "nodes": [
    {
      "parameters": {
        "content": "## Cierre automático de tickets vía respuesta de Gmail\nVer PROPUESTA-CIERRE-AUTOMATICO-TICKETS.md para el diseño completo.\n\n- NO es un webhook — lo dispara Gmail Trigger (polling nativo de n8n\n  sobre la casilla tramites@yavirac.edu.ec), no lo llama la app.\n- Detecta el código del ticket (TK-XXXXXX) en el ASUNTO de la respuesta,\n  no por threading de Gmail — más simple y no depende de headers de\n  Message-ID/In-Reply-To que el envío por SMTP genérico no garantiza.\n- Solo actúa si: (1) el asunto trae un código de ticket real, (2) ese\n  ticket sigue Pendiente/En Proceso, (3) quien responde comparte el rol\n  del responsable asignado (mismo patrón ya usado para notificar a los\n  2 encargados de Anulación). Cualquier otro correo a esa casilla se\n  ignora silenciosamente, sin error.\n- REEMPLAZAR credencial de Gmail (OAuth2 o Service Account, scope\n  gmail.readonly o gmail.modify si se quiere marcar como leído) — pedirle\n  a TI del instituto acceso de lectura SOLO a tramites@yavirac.edu.ec, no\n  a todo el dominio (mucho menor privilegio que el Admin SDK del reseteo\n  de contraseña).\n- ⚠️ El nodo 'Extraer Código y Remitente' asume la forma típica del\n  output de Gmail Trigger con simple=false (payload.headers como array\n  {name, value}). Si al conectar la credencial real el output viene en\n  otra forma, ajustar ese Code node — no se pudo probar contra Gmail real\n  sin la credencial.",
        "height": 480,
        "width": 460
      },
      "id": "g1111111-1111-4111-8111-111111111111",
      "name": "Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-320, -320]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [{ "mode": "everyMinute" }]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        }
      },
      "id": "g2222222-2222-4222-8222-222222222222",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [200, 0],
      "notes": "REEMPLAZAR: credencial de Gmail (OAuth2) con acceso de lectura a tramites@yavirac.edu.ec. Poll cada minuto — el disparador real sigue siendo el correo, no el reloj (ver Nota).",
      "credentials": {
        "gmailOAuth2": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credencial Gmail de tramites@yavirac.edu.ec"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\nconst headers = item.payload?.headers || [];\nconst getHeader = (nombre) => (headers.find(h => (h.name || '').toLowerCase() === nombre.toLowerCase()) || {}).value || '';\n\nconst asunto = getHeader('Subject');\nconst remitenteCrudo = getHeader('From');\n\nconst match = asunto.match(/TK-\\d{6}/);\nif (!match) {\n  return []; // no es una respuesta a un ticket — se ignora, sin error\n}\n\n// \"Nombre Apellido <correo@dominio.com>\" -> solo el correo\nconst emailMatch = remitenteCrudo.match(/<(.+)>/);\nconst remitenteEmail = (emailMatch ? emailMatch[1] : remitenteCrudo).trim().toLowerCase();\n\n// Nunca procesar correos que vienen de la propia casilla del sistema\nif (remitenteEmail === 'tramites@yavirac.edu.ec') {\n  return [];\n}\n\nreturn [{ json: { ticketCodigo: match[0], remitenteEmail, gmailMessageId: item.id } }];"
      },
      "id": "g3333333-3333-4333-8333-333333333333",
      "name": "Extraer Código y Remitente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "SELECT id, estado, tipo_solicitud_id, responsable_id FROM tickets WHERE codigo = $1",
        "options": {
          "queryReplacement": "={{ [ $json.ticketCodigo ] }}"
        }
      },
      "id": "g4444444-4444-4444-8444-444444444444",
      "name": "Buscar Ticket (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [720, 0],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "REEMPLAZAR con credenciales reales" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.estado }}",
              "rightValue": "Resuelto",
              "operator": { "type": "string", "operation": "notEquals" }
            },
            {
              "id": "cond2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g5555555-5555-4555-8555-555555555555",
      "name": "¿Ticket existe y sigue activo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "SELECT string_agg(lower(correo), ',') AS correos FROM usuarios_panel WHERE rol_id = (SELECT rol_id FROM usuarios_panel WHERE id = $1)",
        "options": {
          "queryReplacement": "={{ [ $json.responsable_id ] }}"
        }
      },
      "id": "g6666666-6666-4666-8666-666666666666",
      "name": "Buscar Responsables Autorizados (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1240, -180],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "REEMPLAZAR con credenciales reales" }
      }
    },
    {
      "parameters": {
        "jsCode": "const correos = ($json.correos || '').split(',').map(c => c.trim());\nconst remitente = $('Extraer Código y Remitente').item.json.remitenteEmail;\nconst autorizado = correos.includes(remitente);\nreturn [{ json: { autorizado } }];"
      },
      "id": "g7777777-7777-4777-8777-777777777777",
      "name": "Validar Remitente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, -180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.autorizado }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g8888888-8888-4888-8888-888888888888",
      "name": "¿Remitente autorizado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1760, -180]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "UPDATE tickets SET estado = 'Resuelto', actualizado_en = NOW() WHERE codigo = $1 AND estado IN ('Pendiente', 'En Proceso') RETURNING id, codigo",
        "options": {
          "queryReplacement": "={{ [ $('Extraer Código y Remitente').item.json.ticketCodigo ] }}"
        }
      },
      "id": "g9999999-9999-4999-8999-999999999999",
      "name": "Marcar Ticket Resuelto (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2020, -180],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "REEMPLAZAR con credenciales reales" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "¿Se actualizó de verdad?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2280, -180]
    },
    {
      "parameters": {
        "jsCode": "const ticket = $json;\nconst remitente = $('Extraer Código y Remitente').item.json.remitenteEmail;\nconst payload = JSON.stringify({\n  ticket_id: String(ticket.id),\n  codigo: ticket.codigo,\n  resuelto_por: remitente\n});\nreturn [{ json: { payload } }];"
      },
      "id": "gbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb",
      "name": "Preparar Auditoría",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2540, -180]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "INSERT INTO eventos (tipo, payload, origen) VALUES ('TicketResuelto', $1::jsonb, 'gmail_reply')",
        "options": {
          "queryReplacement": "={{ [ $json.payload ] }}"
        }
      },
      "id": "gccccccc-cccc-4ccc-8ccc-ccccccccccccc",
      "name": "Registrar Auditoría (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2800, -180],
      "credentials": {
        "postgres": { "id": "REEMPLAZAR", "name": "REEMPLAZAR con credenciales reales" }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "Extraer Código y Remitente", "type": "main", "index": 0 }]]
    },
    "Extraer Código y Remitente": {
      "main": [[{ "node": "Buscar Ticket (Postgres)", "type": "main", "index": 0 }]]
    },
    "Buscar Ticket (Postgres)": {
      "main": [[{ "node": "¿Ticket existe y sigue activo?", "type": "main", "index": 0 }]]
    },
    "¿Ticket existe y sigue activo?": {
      "main": [
        [{ "node": "Buscar Responsables Autorizados (Postgres)", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar Responsables Autorizados (Postgres)": {
      "main": [[{ "node": "Validar Remitente", "type": "main", "index": 0 }]]
    },
    "Validar Remitente": {
      "main": [[{ "node": "¿Remitente autorizado?", "type": "main", "index": 0 }]]
    },
    "¿Remitente autorizado?": {
      "main": [
        [{ "node": "Marcar Ticket Resuelto (Postgres)", "type": "main", "index": 0 }],
        []
      ]
    },
    "Marcar Ticket Resuelto (Postgres)": {
      "main": [[{ "node": "¿Se actualizó de verdad?", "type": "main", "index": 0 }]]
    },
    "¿Se actualizó de verdad?": {
      "main": [
        [{ "node": "Preparar Auditoría", "type": "main", "index": 0 }],
        []
      ]
    },
    "Preparar Auditoría": {
      "main": [[{ "node": "Registrar Auditoría (Postgres)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "active": true
}
