n8n-backend/workflows/workflow-consultar-laboratorios.json
{
  "name": "App Matrícula - Consultar Laboratorios",
  "nodes": [
    {
      "parameters": {
        "content": "## Consultar laboratorios (esquema REAL)\n- Alimenta el paso \"elegir laboratorio\" del flujo de Reportar Incidencia (rol Docente).\n- No depende de la cédula — es un catálogo institucional fijo, igual para cualquier docente.\n- Incluye manejo de preflight CORS (OPTIONS).",
        "height": 220,
        "width": 360
      },
      "id": "h1111111-1111-4111-8111-111111111111",
      "name": "Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -140
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consultar-laboratorios",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "h2222222-2222-4222-8222-222222222222",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "webhookId": "consultar-laboratorios",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credencial Header Auth (X-Api-Key)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "consultar-laboratorios",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "h3333333-3333-4333-8333-333333333333",
      "name": "Webhook (OPTIONS)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "consultar-laboratorios-options"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 204,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-Api-Key"
              }
            ]
          }
        }
      },
      "id": "h4444444-4444-4444-8444-444444444444",
      "name": "Responder: CORS preflight",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "SELECT codigo, nombre FROM laboratorios ORDER BY nombre",
        "options": {}
      },
      "id": "h5555555-5555-4555-8555-555555555555",
      "name": "Buscar Laboratorios (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        460,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const laboratorios = $input.all().map(item => ({\n  codigo: item.json.codigo,\n  nombre: item.json.nombre\n}));\n\nreturn [{ json: { laboratorios } }];"
      },
      "id": "h6666666-6666-4666-8666-666666666666",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.laboratorios }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "h7777777-7777-4777-8777-777777777777",
      "name": "Responder: Laboratorios",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        980,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar Laboratorios (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (OPTIONS)": {
      "main": [
        [
          {
            "node": "Responder: CORS preflight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Laboratorios (Postgres)": {
      "main": [
        [
          {
            "node": "Formatear Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Respuesta": {
      "main": [
        [
          {
            "node": "Responder: Laboratorios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
