n8n-backend/workflows/workflow-consultar-estudiante.json
{
  "name": "App Matrícula - Consultar Estudiante",
  "nodes": [
    {
      "parameters": {
        "content": "## Consultar estudiante por cédula\n- Reemplaza el nodo Postgres por el motor real (MySQL, SQL Server, etc.) si no usan Postgres.\n- Ajusta nombres de tabla/columnas a los reales.\n- Configura las credenciales de la base de datos en el nodo de consulta.\n- Ver CONTRATO-API.md para el detalle de request/response esperado por la app.",
        "height": 220,
        "width": 320
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consultar-estudiante",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 0],
      "webhookId": "consultar-estudiante"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cedula, nombres, apellidos, carrera, nivel, periodo_actual AS \"periodoActual\", estado_matricula AS \"estadoMatricula\" FROM estudiantes WHERE cedula = $1",
        "additionalFields": {
          "queryParams": "={{ $json.body.cedula }}"
        }
      },
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "Buscar Estudiante (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [460, 0],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.cedula }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "¿Existe el estudiante?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"cedula\": $json.cedula,\n  \"nombres\": $json.nombres,\n  \"apellidos\": $json.apellidos,\n  \"carrera\": $json.carrera,\n  \"nivel\": $json.nivel,\n  \"periodoActual\": $json.periodoActual,\n  \"estadoMatricula\": $json.estadoMatricula\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Responder: Encontrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, -100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ null }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a6666666-6666-4666-8666-666666666666",
      "name": "Responder: No encontrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 120]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar Estudiante (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estudiante (Postgres)": {
      "main": [
        [
          {
            "node": "¿Existe el estudiante?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe el estudiante?": {
      "main": [
        [
          {
            "node": "Responder: Encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder: No encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
