n8n-backend/workflows/workflow-consultar-tickets.json
{
  "name": "App Matrícula - Consultar Tickets",
  "nodes": [
    {
      "parameters": {
        "content": "## Consultar estado de mis tickets (esquema REAL)\n- La tabla real es `tickets` (no tickets_solicitud), con estado en español: 'Pendiente'|'En Proceso'|'Resuelto' (no existe un estado \"rechazado\").\n- Se traduce a EN_PROCESO/COMPLETADO para no romper el modelo/UI que ya tiene la app.\n- CERT_MATRICULA tiene genera_ticket=false en tipos_solicitud — por diseño del esquema real, el certificado de matrícula NUNCA aparece aquí (se rastrea en certificados/qr_codigos, no en tickets). Este endpoint solo devuelve trámites manuales (ej. Anulación de Matrícula).\n- Incluye manejo de preflight CORS (OPTIONS).",
        "height": 280,
        "width": 380
      },
      "id": "e1111111-1111-4111-8111-111111111111",
      "name": "Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -140
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consultar-tickets",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "e2222222-2222-4222-8222-222222222222",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "webhookId": "consultar-tickets",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credencial Header Auth (X-Api-Key)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "consultar-tickets",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e6666666-6666-4666-8666-666666666666",
      "name": "Webhook (OPTIONS)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "consultar-tickets-options"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 204,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, X-Api-Key"
              }
            ]
          }
        }
      },
      "id": "e7777777-7777-4777-8777-777777777777",
      "name": "Responder: CORS preflight",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "SELECT 1 AS ok FROM otp_codigos WHERE cedula = $1 AND usado = true AND creado_en > NOW() - INTERVAL '20 minutes' ORDER BY creado_en DESC LIMIT 1",
        "options": {
          "queryReplacement": "={{ [ $json.body.cedula ] }}"
        }
      },
      "id": "eses0001-ses0-4ses-8ses-ses000000001",
      "name": "Verificar Sesión Validada (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        460,
        180
      ],
      "alwaysOutputData": true,
      "notes": "Exige un OTP usado=true en los últimos 20 min para esta cédula (mismo patrón que resetear-contrasena-correo.json) — sin esto, cualquiera con la cédula y la X-Api-Key podía leer los tickets de otro estudiante saltándose el OTP.",
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eses0002-ses0-4ses-8ses-ses000000002",
      "name": "¿Tiene sesión válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        180
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"Debes verificar tu identidad nuevamente antes de continuar.\" } }}",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "eses0003-ses0-4ses-8ses-ses000000003",
      "name": "Responder: Sin sesión válida",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        980,
        340
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "SELECT t.codigo AS id, ts.nombre AS tipo, t.estado, t.creado_en AS fecha_solicitud FROM tickets t JOIN tipos_solicitud ts ON ts.id = t.tipo_solicitud_id JOIN estudiantes e ON e.id = t.estudiante_id WHERE e.cedula = $1 ORDER BY t.creado_en DESC",
        "options": {
          "queryReplacement": "={{ [ $('Webhook').item.json.body.cedula ] }}"
        }
      },
      "id": "e3333333-3333-4333-8333-333333333333",
      "name": "Buscar Tickets (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1240,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MAPA_ESTADO = {\n  'Pendiente': 'EN_PROCESO',\n  'En Proceso': 'EN_PROCESO',\n  'Resuelto': 'COMPLETADO'\n};\n\nconst tickets = $input.all()\n  .filter(item => item.json && item.json.id)\n  .map(item => {\n    const fecha = new Date(item.json.fecha_solicitud);\n    const fechaSolicitud = fecha.toLocaleDateString('es-EC', {\n      year: 'numeric', month: 'long', day: '2-digit', timeZone: 'America/Guayaquil'\n    });\n    return {\n      id: item.json.id,\n      tipo: item.json.tipo,\n      estado: MAPA_ESTADO[item.json.estado] || 'EN_PROCESO',\n      fechaSolicitud\n    };\n  });\n\nreturn [{ json: { tickets } }];"
      },
      "id": "e4444444-4444-4444-8444-444444444444",
      "name": "Formatear Tickets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.tickets }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "e5555555-5555-4555-8555-555555555555",
      "name": "Responder: Tickets",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        980,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verificar Sesión Validada (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Sesión Validada (Postgres)": {
      "main": [
        [
          {
            "node": "¿Tiene sesión válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene sesión válida?": {
      "main": [
        [
          {
            "node": "Buscar Tickets (Postgres)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder: Sin sesión válida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (OPTIONS)": {
      "main": [
        [
          {
            "node": "Responder: CORS preflight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Tickets (Postgres)": {
      "main": [
        [
          {
            "node": "Formatear Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Tickets": {
      "main": [
        [
          {
            "node": "Responder: Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": true
}
