n8n-backend/workflows/workflow-verificar-certificado.json
{
  "name": "App Matrícula - Verificar Certificado (QR)",
  "nodes": [
    {
      "parameters": {
        "content": "## Verificar certificado por QR (el QR funciona como firma de Secretaría)\n- El QR impreso en el certificado (certificado-pdf.service.ts) codifica una URL\n  pública de esta MISMA app: {{APP_URL}}/verificar-certificado/{codigoUnico}\n  (antes apuntaba a un dominio placeholder inexistente — ver ARQUITECTURA.md).\n- Esa página Angular (pública, sin login/OTP) llama a este webhook para\n  confirmar autenticidad y mostrar los datos del certificado.\n- POST con { codigo } en el body — igual que el resto de los webhooks del\n  proyecto (se descartó GET con parámetro de ruta ':codigo' porque en esta\n  instancia de n8n el webhook no llegaba a registrarse en el router en vivo\n  pese a aparecer activo en la BD; POST + body es el patrón ya probado).\n- Este webhook NO requiere que quien escanea sepa nada de API keys: la\n  página Angular ya trae la X-Api-Key vía ApiKeyInterceptor, igual que el\n  resto de la app — el usuario final solo ve la página, nunca la llamada.\n- Cada verificación exitosa incrementa qr_codigos.verificaciones (columna\n  que existía en el esquema desde el inicio pero nunca se usaba).\n- Si el UUID no existe o no es válido, responde 404 con autentico:false —\n  nunca un error 500 (así una URL manipulada/falsa se detecta con claridad).\n- Incluye manejo de preflight CORS (OPTIONS).",
        "height": 400,
        "width": 460
      },
      "id": "v1111111-1111-4111-8111-111111111111",
      "name": "Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-280, -220]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "verificar-certificado",
        "responseMode": "responseNode",
        "options": {},
        "authentication": "headerAuth"
      },
      "id": "v2222222-2222-4222-8222-222222222222",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 0],
      "webhookId": "verificar-certificado",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credencial Header Auth (X-Api-Key)"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "verificar-certificado",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "v2222222-2222-4222-8222-222222222223",
      "name": "Webhook (OPTIONS)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 320],
      "webhookId": "verificar-certificado-options"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "",
        "options": {
          "responseCode": 204,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, X-Api-Key" }
            ]
          }
        }
      },
      "id": "v3333333-3333-4333-8333-333333333333",
      "name": "Responder: CORS preflight",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 320]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "SELECT qc.identificador AS \"codigoUnico\", e.nombres AS \"nombreCompleto\", e.cedula, c.nombre AS carrera, cert.nivel_ingreso AS nivel, cert.periodo_lectivo_nombre AS \"periodoActual\", cert.modalidad, cert.fecha, cert.firmante_nombre AS \"firmanteNombre\", cert.firmante_cargo AS \"firmanteCargo\" FROM qr_codigos qc JOIN certificados cert ON cert.qr_id = qc.id JOIN estudiantes e ON e.id = qc.estudiante_id JOIN carreras c ON c.id = e.carrera_id WHERE qc.identificador = $1::uuid",
        "options": {
          "queryReplacement": "={{ [ $json.body.codigo ] }}"
        }
      },
      "id": "v4444444-4444-4444-8444-444444444444",
      "name": "Buscar Certificado por QR (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 0],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.codigoUnico }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "v5555555-5555-4555-8555-555555555555",
      "name": "¿Certificado encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "resource": "database",
        "query": "UPDATE qr_codigos SET verificaciones = verificaciones + 1 WHERE identificador = $1::uuid RETURNING verificaciones",
        "options": {
          "queryReplacement": "={{ [ $json.codigoUnico ] }}"
        }
      },
      "id": "v6666666-6666-4666-8666-666666666666",
      "name": "Incrementar Verificaciones (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [980, -140],
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cert = $('Buscar Certificado por QR (Postgres)').item.json;\n\n// cert.fecha es DATE puro (sin hora/zona) — mismo criterio que en\n// generar-certificado: se lee el string YYYY-MM-DD directo, sin Date/Intl.\nconst MESES = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];\nconst fechaStr = typeof cert.fecha === 'string' ? cert.fecha : cert.fecha.toISOString();\nconst [anio, mes, dia] = fechaStr.slice(0, 10).split('-').map(Number);\nconst fechaEmision = `${String(dia).padStart(2, '0')} de ${MESES[mes - 1]} de ${anio}`;\n\nreturn [{\n  json: {\n    autentico: true,\n    codigoUnico: cert.codigoUnico,\n    nombreCompleto: cert.nombreCompleto,\n    cedula: cert.cedula,\n    carrera: cert.carrera,\n    nivel: cert.nivel,\n    periodoActual: cert.periodoActual,\n    modalidad: cert.modalidad,\n    fechaEmision,\n    firmanteNombre: cert.firmanteNombre,\n    firmanteCargo: cert.firmanteCargo\n  }\n}];"
      },
      "id": "v7777777-7777-4777-8777-777777777777",
      "name": "Formatear Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, -140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "v8888888-8888-4888-8888-888888888888",
      "name": "Responder: Auténtico",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, -140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"autentico\": false, \"error\": \"No se encontró ningún certificado con ese código. Verifica el enlace o el código QR.\" } }}",
        "options": {
          "responseCode": 404,
          "responseHeaders": {
            "entries": [{ "name": "Access-Control-Allow-Origin", "value": "*" }]
          }
        }
      },
      "id": "v9999999-9999-4999-8999-999999999999",
      "name": "Responder: No encontrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 160]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Buscar Certificado por QR (Postgres)", "type": "main", "index": 0 }]]
    },
    "Webhook (OPTIONS)": {
      "main": [[{ "node": "Responder: CORS preflight", "type": "main", "index": 0 }]]
    },
    "Buscar Certificado por QR (Postgres)": {
      "main": [[{ "node": "¿Certificado encontrado?", "type": "main", "index": 0 }]]
    },
    "¿Certificado encontrado?": {
      "main": [
        [{ "node": "Incrementar Verificaciones (Postgres)", "type": "main", "index": 0 }],
        [{ "node": "Responder: No encontrado", "type": "main", "index": 0 }]
      ]
    },
    "Incrementar Verificaciones (Postgres)": {
      "main": [[{ "node": "Formatear Respuesta", "type": "main", "index": 0 }]]
    },
    "Formatear Respuesta": {
      "main": [[{ "node": "Responder: Auténtico", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "active": true
}
