n8n-backend/workflows/workflow-generar-certificado.json
{
  "name": "App Matrícula - Generar Certificado",
  "nodes": [
    {
      "parameters": {
        "content": "## Generar certificado de matrícula\n- Valida que el estudiante exista Y esté MATRICULADO antes de generar el código.\n- IDEMPOTENCIA (requisito confirmado por la coordinación académica): antes de generar un código nuevo, se busca si ya existe un certificado para esa cédula+periodo. Si existe, se devuelve el mismo (mismo QR), sin importar si el trámite se inició desde la web o desde la app.\n- Es el único trámite 100% automatizado: además del certificado, crea su propio ticket_solicitud en estado COMPLETADO (para que aparezca en 'Consultar estado de mis tickets').\n- El nodo Code genera el código único del certificado (cámbialo por un UUID real en producción). El id del ticket se genera atómicamente en Postgres con nextval().\n- Ajusta el nodo Postgres al motor real de base de datos.",
        "height": 320,
        "width": 360
      },
      "id": "b1111111-1111-4111-8111-111111111111",
      "name": "Nota",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-260, -100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generar-certificado-matricula",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 0],
      "webhookId": "generar-certificado-matricula"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT cedula, nombres, apellidos, carrera, nivel, periodo_actual AS \"periodoActual\", estado_matricula AS \"estadoMatricula\" FROM estudiantes WHERE cedula = $1",
        "additionalFields": {
          "queryParams": "={{ $json.body.cedula }}"
        }
      },
      "id": "b3333333-3333-4333-8333-333333333333",
      "name": "Buscar Estudiante (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [460, 0],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.estadoMatricula }}",
              "rightValue": "MATRICULADO",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b4444444-4444-4444-8444-444444444444",
      "name": "¿Está matriculado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT codigo_unico AS \"codigoUnico\", cedula, nombre_completo AS \"nombreCompleto\", carrera, nivel, periodo_actual AS \"periodoActual\", fecha_emision AS \"fechaEmision\", url_verificacion AS \"urlVerificacion\" FROM certificados_matricula WHERE cedula = $1 AND periodo_actual = $2",
        "additionalFields": {
          "queryParams": "={{ [$json.cedula, $json.periodoActual] }}"
        }
      },
      "id": "b9999999-9999-4999-8999-999999999999",
      "name": "Buscar Certificado Existente (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [980, -260],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.codigoUnico }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "baaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa",
      "name": "¿Ya existe certificado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1240, -260]
    },
    {
      "parameters": {
        "jsCode": "const anio = new Date().getFullYear();\nconst aleatorio = Math.random().toString(36).slice(2, 10).toUpperCase();\nconst codigoUnico = `MAT-${anio}-${aleatorio}`;\n// TODO produccion: reemplazar por UUID real. La unicidad real la garantiza\n// el UNIQUE(cedula, periodo_actual) de la tabla + el chequeo previo de\n// \"Buscar Certificado Existente\".\n\nconst nombreCompleto = `${$json.nombres} ${$json.apellidos}`;\nconst fechaEmision = new Date().toLocaleDateString('es-EC', {\n  year: 'numeric', month: 'long', day: '2-digit'\n});\nconst urlVerificacion = `https://verificacion.tudominio.edu.ec/certificados/${codigoUnico}`;\n\nreturn [{\n  json: {\n    ...$json,\n    codigoUnico,\n    nombreCompleto,\n    fechaEmision,\n    urlVerificacion\n  }\n}];"
      },
      "id": "b5555555-5555-4555-8555-555555555555",
      "name": "Generar Código Único",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, -20]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tickets_solicitud (id, cedula, tipo_tramite, estado, fecha_resolucion)\nVALUES (\n  'TCK-' || EXTRACT(YEAR FROM NOW()) || '-' || LPAD(nextval('tickets_solicitud_seq')::text, 6, '0'),\n  $1, 'CERTIFICADO_MATRICULA', 'COMPLETADO', NOW()\n)\nRETURNING id",
        "additionalFields": {
          "queryParams": "={{ $json.cedula }}"
        }
      },
      "id": "bcccccc1-cccc-4ccc-8ccc-ccccccccccc1",
      "name": "Crear Ticket del Trámite (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1240, -20],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO certificados_matricula (ticket_id, codigo_unico, cedula, nombre_completo, carrera, nivel, periodo_actual, url_verificacion)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8)",
        "additionalFields": {
          "queryParams": "={{ [$json.id, $('Generar Código Único').item.json.codigoUnico, $('Generar Código Único').item.json.cedula, $('Generar Código Único').item.json.nombreCompleto, $('Generar Código Único').item.json.carrera, $('Generar Código Único').item.json.nivel, $('Generar Código Único').item.json.periodoActual, $('Generar Código Único').item.json.urlVerificacion] }}"
        }
      },
      "id": "b6666666-6666-4666-8666-666666666666",
      "name": "Guardar Certificado (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [1500, -20],
      "credentials": {
        "postgres": {
          "id": "REEMPLAZAR",
          "name": "REEMPLAZAR con credenciales reales"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b7777777-7777-4777-8777-777777777777",
      "name": "Responder: Certificado existente",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, -260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"codigoUnico\": $('Generar Código Único').item.json.codigoUnico,\n  \"cedula\": $('Generar Código Único').item.json.cedula,\n  \"nombreCompleto\": $('Generar Código Único').item.json.nombreCompleto,\n  \"carrera\": $('Generar Código Único').item.json.carrera,\n  \"nivel\": $('Generar Código Único').item.json.nivel,\n  \"periodoActual\": $('Generar Código Único').item.json.periodoActual,\n  \"fechaEmision\": $('Generar Código Único').item.json.fechaEmision,\n  \"urlVerificacion\": $('Generar Código Único').item.json.urlVerificacion\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bddddddd-dddd-4ddd-8ddd-ddddddddddd1",
      "name": "Responder: Certificado nuevo",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, -120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"El estudiante no existe o no está matriculado en el periodo actual.\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b8888888-8888-4888-8888-888888888888",
      "name": "Responder: No matriculado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 260]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Buscar Estudiante (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Estudiante (Postgres)": {
      "main": [
        [
          {
            "node": "¿Está matriculado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Está matriculado?": {
      "main": [
        [
          {
            "node": "Buscar Certificado Existente (Postgres)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder: No matriculado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Certificado Existente (Postgres)": {
      "main": [
        [
          {
            "node": "¿Ya existe certificado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ya existe certificado?": {
      "main": [
        [
          {
            "node": "Responder: Certificado existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generar Código Único",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Código Único": {
      "main": [
        [
          {
            "node": "Crear Ticket del Trámite (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Ticket del Trámite (Postgres)": {
      "main": [
        [
          {
            "node": "Guardar Certificado (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Certificado (Postgres)": {
      "main": [
        [
          {
            "node": "Responder: Certificado nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
